*{
    box-sizing: border-box; 
}

body, html {
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 17px;
    color: white;
    /*background-image: url('./images/concert-head.jpg');*/
    height: 100%;
    margin: 0;
}

.bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./images/bg-v2.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h3.subheader {
    margin-bottom: 45px;
}

.search {
    text-align: center;   
}


.hidden {
    visibility: hidden;
}

.hide{
    display: none;
}


.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}

.flex-item {
    flex-grow: 1;
}

.flex-sides {
    width: 25%;
}

header {
    font-family: 'Lexend Tera', sans-serif;
    font-size: 25px;
}

h1 {
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 100px;
}

.subheader {
    font-size: 18px;
    margin: 15px 15px 30px;
}


label[for='search-options'] {
    margin-bottom: 5px;;
    margin-right: 5px;
}

#search-options {
    height: 21px;
}

input[id='search-word'] {
    margin: 10px 5px 5px;
}

input {
    text-align: center;
}

.input-max {
    margin-top: 5px;
    margin-bottom: 5px;
}

label[for="max-results"] {
    margin-right: 5px;
}

#max-results {
    width: 50px;
}
input[type="submit"] {
    margin: 15px 5px 5px;
    background-color: #e7e7e7; 
    color: black;
    height: 30px;
    width: 100px;
}

input[type="submit"]:hover {
    cursor: pointer;
}

.error, .results {
    color: black;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: inline-block;
    list-style-type: none;
    padding: 15px;
    margin: 0;
}

.results-container > h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.weather {
    width: 75%;
}

.weather > h2 {
    margin-bottom: 15px;
}

#forecast {
    margin: 0;
}

#temperature {
    margin: 0 auto 25px;
}


/*
input[type="text"] {
    display: inline-block;
    margin: 10px auto;
}

#search-word {
    margin: 5px;
    width: 150px;
}

.results-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 2;
    align-self: center;
}

.item {
    flex-grow: 1;
    padding: 2px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-item {
    flex-grow: 1;
}

.flex-sides {
    width: 25%;
}
*/