*{
    box-sizing: border-box;
}

body {
    text-align: center;
}

ul {
    display: inline-block;
}

label[for='event-search'] {
    margin-bottom: 10px;
    font-size: 25px;
}

input[type="text"] {
    display: block;
    margin: 10px auto;
}

#search-options {
    margin: 5px;
    width: 100px;
}

input[type="submit"] {
    margin: 10px;
}

.hidden {
    display: none;
}