*{
    box-sizing: border-box;
}

body {
    text-align: center;
}

/*
#js-form {
    display: flex;
    justify-content: center;
}
*/

label {
    margin-bottom: 10px;
    font-size: 25px;
}

input[type="text"] {
    display: block;
    margin: 10px auto;
}

#search-options {
    margin: 5px;
    width: 100px;
}

input[type="submit"] {
    margin: 10px;
}

.hidden {
    display: none;
}